window {
    margin: 0px;
    padding: 0px;
    border: 3px solid {{color4}};
    border-radius: 10px;
    background-color: {{background}};
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: {{background}};
    background-color: {{color4}};
    padding: 10px;
}

#input image {
    color: {{background}};
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: {{foreground}};
}

/* The selected entry */
#entry:selected {
    background-color: {{color4}};
    border-radius: 5px;
    outline: none;
}

#entry:selected #text {
    color: {{background}};
}

/* Unselected entries */
#entry {
    padding: 5px;
}
